<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
<html lang="en">

{% block title_block %}
        Account
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
      <div class="container-fluid " >
        <div class="row w-50 mx-auto">
            <div class="col-sm-8 ">
               <h2 id="r-heading">My Recipes</h2>
                <div id="myDiv" style="height: 600px; width: 900px;">
                   <div>
                       {% if recipes %}
                           {% for recipe in recipes %}
                              <p><b>Name: </b> {{ recipe.name }}</p>
                              <p><b>Description: </b> {{ recipe.description }}</p>
                              <p><b>Ingredients: </b> {{ recipe.ingredients }}</p>
                              <p><b>Instructions: </b> {{ recipe.instructions }}</p>
                              <p><b>Category: </b>{{ recipe.get_category_display }}</p>
                              <p><b>Cuisine: </b> {{ recipe.get_cuisine_display }}</p>
                              <p><b>Likes: </b>{{ recipe.likes }}</p>
                              {% if recipe.image %}
                                  <img class = "recipe-image" src="{{ MEDIA_URL }}{{ recipe.image }}" id="images"/>
                               {% else %}
                                  <img class="recipe-image" alt="Image Not Found" id="images"/>
                               {% endif %}
                              <p style="height: 50px;"></p>
                           {% endfor %}
                       {% endif %}

                   </div>             
                </div>
            </div>
            <div class="col-sm-4" id="side-bar">
               <div id="sidebar">
                   <div>
                       <p class="heading"><b>{{ user.username }}</b></p>
                       <p class="heading">
                           <b>Personal Details </b>
                           <a href="{% url 'yumyay:edit_details' %}" style="float: right;">Edit</a>
                       </p>
                       <p class="details"><b>Full Name: </b>{{ user.first_name }} {{ user.last_name}}</p>
                       <p class="details"><b>Email: </b>{{ user.email }}</p>
                   </div>
                   <div id="bottom-links">
                       <a href="{% url 'yumyay:logout' %}" class="bottom-link">Logout</a>
                       <p></p>
                       <a href="{% url 'yumyay:delete' user.id%}" class="bottom-link">Delete Account</a>
                   </div>
               </div>
           </div>
           
           
        </div>
       </div>
    {% else %}
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button><a href="{% url 'yumyay:log_in' %}" c="black">Log in</a></button>
        </div>
        <div class="col-sm-4">
            <button><a href="{% url 'yumyay:register' %}" c="black">Register</a></button>
        </div>
        <div class="col-sm-2"></div>
    {% endif %}
{% endblock %}
</html>