<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
<html lang="en">

{% block title_block %}
        Account
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
        user <br>
        <a href="{% url 'yumyay:logout' %}">Logout</a>
    {% else %}
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button><a href="{% url 'yumyay:log_in' %}" c="black">Log in</a></button>
        </div>
        <div class="col-sm-4">
            <button><a href="{% url 'yumyay:register' %}" c="black">Register</a></button>
        </div>
        <div class="col-sm-2"></div>
    {% endif %}
{% endblock %}
</html>