{% extends 'yumyay/base.html' %}
{% load static %}

{% block title_block %}
    Add recipe
{% endblock %}

{% block body_block %}
{% include 'yumyay/navbar.html' with page=page %}
<div class="container-fluid padding add-recipe">
    <div class="form-container">
            <form id="recipe_form" method="POST" action="{% url 'yumyay:add_recipe' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class='container-left part col-sm-5'>
                {% for field in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {% if field.errors %}
                        <div class="control-group error">
                            <span>{{ field.label }}</span>
                            <div class="controls">
                                <h3>{{ field }}</h3>
                                {% for error in  field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% if field.label == 'Name' %}
                            
                                <div class="control-group input-name">
                        {% elif field.label == 'Description' %}
                            <div class="control-group input-description">
                        {% elif field.label == 'Category' or field.label == 'Cuisine' %}
                            <div class="control-group input-category-cuisine">
                        {% elif field.label == 'Ingredients' %}
                            <div class="control-group ingredient-field">
                        {% elif field.label == 'Instructions' %}
                            </div>
                            <div class='container-right part col-sm-5'>
                            <div class="control-group instruction-field">
                        {% elif field.label == 'Image' %}
                            <div class='control-group image-field'>
                            <img src="" alt="Preview" class='image-preview'>
                        {% endif %}
                            <label class="control-label">{{ field.label }}</label> 
                            <div class="controls">{{ field }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" name="submit" value="Add recipe">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'javascript/forms.js' %}"></script>
{% endblock %}