{% extends 'yumyay/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title_block %}
    Add recipe
    {% endblock %}
</head>

{% block body_block %}
{#    form needs to be implemented this has just been created as a base for the css #}
     <div class="container-fluid add-recipe padding" >
        <div class="row w-50 mx-auto">
            <form id="" method="" action="" colour="yellow-bg">
                <div class="col-sm-6" >
                    <label for="fname">First name:</label>
                    <input type="text" name="fname"><br><br>

                    <label for="description">Description:</label>
                    <input type="text" name="description"><br><br>
                     <label for="category">Category:</label>
                    <select name="category">
                          <option value="bread">Cooking</option>
                          <option value="brownies">Baking</option>
                    </select><br><br>

                     <label for="cuisine">Cuisine:</label>
                    <select name="cuisine">
    {#                    different choices need to appear based on category#}
                          <option value="chinese">Chinese</option>
                          <option value="greek">Greek</option>
                          <option value="indian">Indian</option>
                          <option value="italian">Italian</option>
                          <option value="mexican">Mexican</option>
                          <option value="thai">Thai</option>
                            <option value="bread">Bread</option>
                          <option value="brownies">Brownies</option>
                          <option value="cake">Cake</option>
                          <option value="cupcakes">Cupcakes</option>
                          <option value="cookies">Cookies</option>
                          <option value="pastries">Pastries</option>
                    </select> <br><br>

                    <label for="ingredients">Ingredients:</label>
                    <input type="text"name="ingredients"><br><br>
                </div>
                <div class="col-sm-6" >
                    <label for="recipeImage">Image:</label>
                    <input type="image"name="recipeImage"><br><br>
                    <label for="instructions">Instructions:</label>
                    <input type="text"name="Instructions"><br><br>
                </div>
                </form>
        </div>
     </div>
{% endblock %}

</html>