<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}

{% block title_block %}
    Baking
{%  endblock %}

{% block body_block %}
     <div class="container-fluid " >
     <div class="row w-50 mx-auto">
          <div class="col-sm-8 ">
              <div class="container-fluid long-bar recipe-style">
                  <div class="row w-50 h-100 search-padding">
                         <div id="searchbar">
                            <input type="text" placeholder="Search...">
                            <button type="submit" id="buttons" class="btn btn-rounded">Search</button>
                         </div>
                  </div>
                  <div class="row w-50 mx-auto">
                      <div class="grid-container">
                        <div class="grid-item "><a href="{% url 'yumyay:baking_cuisine' 'cake' %}"><img src="{% static 'images/../../media/recipe_images/cake.png' %}" alt="Cake" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'cake' %}" c="black">Cake</a></span></div>
                        <div class="grid-item"><a href="{% url 'yumyay:baking_cuisine' 'brownies' %}"><img src="{% static 'images/../../media/recipe_images/brownies.png' %}" alt="Brownies" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'brownies' %}" c="black">Brownies</a></span></div>
                        <div class="grid-item"><a href="{% url 'yumyay:baking_cuisine' 'bread' %}"><img src="{% static 'images/../../media/recipe_images/bread.png' %}" alt="Bread" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'bread' %}" c="black">Bread</a></span></div>
                          <div class="grid-item"><a href="{% url 'yumyay:baking_cuisine' 'pastries' %}"><img src="{% static 'images/../../media/recipe_images/pastries.png' %}" alt="Pastries" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'pastries' %}" c="black">Pastries</a></span></div>
                          <div class="grid-item"><a href="{% url 'yumyay:baking_cuisine' 'cupcakes' %}"><img src="{% static 'images/../../media/recipe_images/cupcakes.png' %}" alt="Cupcakes" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'cupcakes' %}" c="black">Cupcakes</a></span></div>
                          <div class="grid-item"><a href="{% url 'yumyay:baking_cuisine' 'cookies' %}"><img src="{% static 'images/../../media/recipe_images/cookies.png' %}" alt="Cookies" id="images"/></a><span class="caption"><a href="{% url 'yumyay:baking_cuisine' 'cookies' %}" c="black">Cookies</a></span></div>
                      </div>
                  </div>
              </div>
          </div>
         <div class="col-sm-4 " id="trending-rep-bar">
             <div class="container-fluid" id="recipe-style" >
                {% include 'yumyay/sidebar_top_recipe.html' with recipe=top_recipe %}
             </div>
         </div>
     </div>
     </div>
<script src="{% static 'javascript/search.js' %}"></script>
{% endblock %}