<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>
        <title>
            yumyay -
                {%block title_block%}
                {% endblock %}
        </title>
     <!-- Bootstrap core CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/bsOverride.css" %}" />
    <link rel="stylesheet" href="{% static 'css/like.css'}">
    </head>

    {% block header_block %}
         <nav class="navbar navbar-custom">
            <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'yumyay:home' %}" id="nav-text">Home</a></li>
                <li><a href="{% url 'yumyay:cooking' %}" id="nav-text">Cooking</a></li>
                <li><a href="{% url 'yumyay:baking' %}" id="nav-text">Baking</a></li>
            </ul>
{#            <ul class="nav navbar-nav text-center mx-auto">#}
{#                <li> Yumyay </li>#}
{#            </ul>#}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'yumyay:add_recipe' %}" id="nav-text">Add recipe</a></li> <!--remove if not authorised when implemented-->
                <li><a href="{% url 'yumyay:account' %}" id="nav-text">Account</a></li>
            </ul>
            </div>
        </nav>
    {% endblock %}

    {% block body_block %}
    
    {%  endblock %}
     <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
    <script src="{% static 'javascript/search.js' %}"></script>
    <script src="{% static 'javascript/ajaxLike.js' %}"></script>
</html>