<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>
        <title>
            yumyay -
                {%block title_block%}
                {% endblock %}
        </title>
    </head>

    {% block header_block %}
        <nav>
            <ul>
                <li><a href="{% url 'yumyay:home' %}">Home</a></li>
                <li><a href="{% url 'yumyay:cooking' %}">Cooking</a></li>
                <li><a href="{% url 'yumyay:baking' %}">Baking</a></li>
                <li><a href="{% url 'yumyay:add_recipe' %}">Add recipe</a></li> <!--remove if not authorised when implemented-->
                <li><a href="{% url 'yumyay:account' %}">Account</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block body_block %}
    {%  endblock %}
</html>