<!DOCTYPE html>
{% extends 'yumyay/base.html' %}

{% load static %}

{% block title_block %}
    Cooking
{%  endblock %}

{% block body_block %}
     <div class="container-fluid " >
     <div class="row w-50 mx-auto">
          <div class="col-sm-8 ">
              <div class="container-fluid long-bar" id="recipe-style" >
                  <div class="row w-50 h-100 search-padding">
                         <div id="searchbar">
                            <input type="text" placeholder="Search...">
                            <button type="submit" id="buttons" class="btn btn-rounded">Search</button>
                         </div>
                  </div>
                  <div class="row w-50 mx-auto">
                      <div class="grid-container">
                        <div class="grid-item "><img src="{% static 'images/../../media/recipe_images/indianFood.png' %}" alt="Indian Food" id="images"/><span class="caption">Indian</span></div>
                        <div class="grid-item"><img src="{% static 'images/../../media/recipe_images/thaiFood.png' %}" alt="Thai Food" id="images"/><span class="caption">Thai</span></div>
                        <div class="grid-item"><img src="{% static 'images/../../media/recipe_images/chineseFood.png' %}" alt="Chinese Food" id="images"/><span class="caption">Chinese</span></div>
                         <div class="grid-item"><img src="{% static 'images/../../media/recipe_images/italianFood.png' %}" alt="Italian Food" id="images"/><span class="caption">Italian</span></div>
                        <div class="grid-item"><img src="{% static 'images/../../media/recipe_images/mexicanFood.png' %}" alt="Mexican Food" id="images"/><span class="caption">Mexican</span></div>
                        <div class="grid-item"><img src="{% static 'images/../../media/recipe_images/greekFood.png' %}" alt="Greek Food" id="images"/><span class="caption">Greek</span></div>
                      </div>
                  </div>
              </div>
          </div>
         <div class="col-sm-4 " id="trending-rep-bar">
             <div class="container-fluid" id="recipe-style" >
                {% include 'yumyay/sidebar_top_recipe.html' %}
             </div>
         </div>
     </div>
     </div>

{% endblock %}
