<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}
{% block title_block %}
    {% if cuisine %}
        {{ cuisine.title }}
    {% else %}
        cuisine not found
    {% endif %}
{% endblock %}
{% block body_block %}
{% include 'yumyay/navbar.html' with page=page %}
 <div class="container-fluid" >
    <div class="col w-50 mx-auto">
        <div class="col-sm-8 ">
            <div class="cuisine-header-padding text-primary" id ="cuisine-header-bar" >
            <b>
                    {% if cuisine %}
                        {{ cuisine.title }}
                    {% else %}
                        cuisine not found
                    {% endif %}
            </b>
            </div>

            <div class="container-fluid recipe-list d-flex">

                {% if recipes %}
                    {% for recipe in recipes %}
                        <div class="row recipe-item">
                        <div class="col-sm-2">
                            {% if recipe.image  %}
                                <img class="recipe-image" src={{ MEDIA_URL }}{{ recipe.image }} id="images"/>
                            {% else %}
                                <img class="recipe-image" src="{{ MEDIA_URL }}{{ cuisine.img }}" alt={{ cuisine }} id="images"/>
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <b>
                            <div><a href="{% url 'yumyay:recipe' recipe.cuisine recipe.name  %}" c="black">{{ recipe.name }}</a></div>
                            </b>
                            <div class="row d-flex justify-content-center">
                                <div class= "col-sm-6">{{ recipe.description }}</div>
                                <div class= "col-sm-6">{{ recipe.author }}</div>
                            </div>
                            <div>{{ recipe.likes }}</div>
                        </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No recipes found
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4" id="trending-rep-bar">
            <div class="container-fluid" id="recipe-style" >
                {% include 'yumyay/sidebar_top_recipe.html' with recipe=top_recipe recipe_cuisine=cuisine %}
            </div>
        </div>
    </div>
 </div>
{% endblock %}