<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}

{% block body_block %}
 <div class="container-fluid" >
    <div class="col w-50 mx-auto">
        <div class="col-sm-8 ">
            <div class="cuisine-header-padding text-primary" id ="cuisine-header-bar" >
            <b>
                {% block cuising_header_block  %}

                {% endblock %}
            </b>
            </div>

            <div class="container-fluid recipe-list d-flex">
                <div class="row recipe-item">
                    <div class="col-sm-2">
                        <img class="recipe-image" src="{% static 'images/indianFood.png' %}" alt="Food" id="images"/>
                    </div>
                    <div class="col-sm-10">
                        <b>
                        <div>Recipe name</div>
                        </b>
                        <div class="row d-flex justify-content-center">
                            <div class= "col-sm-6">Description</div>
                            <div class= "col-sm-6">Username</div>
                        </div>
                        <div>Rating</div>
                    </div>
                </div>
                <div class="row recipe-item">
                    <div class="col-sm-2">
                        <img class="recipe-image" src="{% static 'images/indianFood.png' %}" alt="Food" id="images"/>
                    </div>
                    <div class="col-sm-10">
                        <b>
                        <div>Recipe name</div>
                        </b>
                        <div class="row d-flex justify-content-center">
                            <div class= "col-sm-6">Description</div>
                            <div class= "col-sm-6">Username</div>
                        </div>
                        <div>Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" id="trending-rep-bar">
        <div class="container-fluid" id="recipe-style" >
            {% include 'yumyay/sidebar_top_recipe.html' %}
        </div>
    </div>
 </div>
{% endblock %}