<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}


{% block title_block %}
    Home
{% endblock %}

{% block body_block %}



        <a href="{% url 'yumyay:log_in' %}">Log in</a>

                        <!--    {% if user.is_authenticated %}-->
                        <!--        Welcome back {{user.username}}-->
                        <!--    {% else %}-->
                        <!--        <a href="{% url 'yumyay:log_in' %}">Log in</a>-->
                        <!--    {% endif %}-->

    <div class="row w-50 mx-auto">
    <div class="container-fluid outer_padding recipe-container" style ="background-color: #5A8F5C; margin-right: 100px; margin-left: 100px;" >
        <div class="col-sm-1 ">
            <button type = "button" id='prev' class="btn side-btn home-buttons">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-sm-10" >
            <div class="row w-50 mx-auto">
                <div class="container-fluid padding" id="recipe-style" style="background-color: #FFEB7F">
                {% for recipe in recipes %}
                    {% if forloop.counter0 == 0 %}
                        <div class="recipe-item active">
                    {% else %}
                        <div class="recipe-item inactive">
                    {% endif %}
                        <div class="col-sm-6">
                            <h2>{{ recipe.name }}</h2>
                    {#        <img src="" alt="Food">#}
                                <p>{{ recipe.author }}</p>
                        </div>
                        <div class="col-sm-6" >
                            <p>{{ recipe.description }}</p>
                            <button>{{ recipe.likes }}</button>
                        </div>
                    </div>
                {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <button type = "button" id='next' class="btn side-btn home-buttons">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>

        </div>

{% endblock %}