<!DOCTYPE html>

{% extends 'yumyay/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="row w-50 mx-auto">
    <div class="container-fluid outer_padding recipe-style" des = "greenbg" >
        <form class = "login_form" method="post" action="{% url 'yumyay:log_in' %}" >
            {% csrf_token %}
            {{ form.errors.as_p }}
            <div class = "control-group login_form" >
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
            </div>
            <div class = "control-group login_form">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
            </div>
            <button type="submit" value="Log in" class="btn yellow-bg">Sign in</button><br><br>
        </form>

         <p>
        Don't have an account?
        <a c="blue" href="{% url 'yumyay:register' %}">Register Here!</a>
    </p>

    </div>
    </div>


{% endblock %}
