<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}

{% block title_block %}
    Recipe
{%  endblock %}

{% block body_block %}
    <h2>{{ recipe.name }}</h2>
    Username
{#    <img src="" alt="Food">#}
    <div class="like-info">{{ recipe.likes }}</div>
    <button>Leave rating</button>
    <div id="ingredients">
        <h3>Ingredients</h3>
        <p>Blah blah blah</p>
    </div>
    <div id='Instructions'>
        <h3>Instructions</h3>
        <p>Blah blah blah</p>
    </div>
{% endblock %}
