<!DOCTYPE html>
{% extends 'yumyay/base.html' %}
{% load static %}

{% block title_block %}
    {{ recipe.name }}
{%  endblock %}

{% block body_block %}
    {% include 'yumyay/navbar.html' with page=page %}
    <div class="recipe-base" content="width=device-width">
        <h2>{{ recipe.name }}</h2>
        <h4>{{ recipe.author }}</h4>
    </div>
    <div content="width=device-width">
        <div class="col-sm-4 recipe-base">
            <img src={{ MEDIA_URL }}{{ recipe.image }} alt="{{ recipe.name }}" id="recipe-images">
            <div class="recipe-rating-button">
            {% include 'yumyay/like_info.html' %}
            </div>
        </div>
        <div class="col-sm-8 recipe-base">
            <div id="ingredients" class="col-sm-6 recipe-yellow-box ">
                <h3>Ingredients</h3>
                <p>{{ recipe.ingredients }}</p>
            </div>
            <div id='instructions' class="col-sm-6 recipe-yellow-box">
                <h3>Instructions</h3>
                <p>{{ recipe.instructions }}</p>
            </div>
        </div>
    </div>
{% endblock %}
