<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<body>
    <div id="top recipe" class="top-recipe-padding" >
    {% if recipe == none %}
        No top recipe
    {% else %}
        <h2>{{ recipe.name }}</h2>
        {% if recipe.image %}
            <img class="recipe-image col-sm-12" src={{ MEDIA_URL }}{{ recipe.image }} id="image" />
        {% else %}
            <img class="recipe-image col-sm-12" src="{{ MEDIA_URL }}{{ cuisine.img }}" id="image"/>
        {% endif %}
        <p>
            {{ recipe.description }}
        </p>
        <p>
        {{ recipe.author }}
        </p>
        <button type="button" id="buttons" class="btn btn-rounded">
            {% include 'yumyay/like_info.html' with recipe=recipe %}
        </button>
    </div>
    {% endif %}
</body>
</html>