#sidebar {
    height: 88vh;
    position: relative;
}

#side-bar{
    background-color: #5A8F5C;
    text-align: center;

}

#bottom-links {
    position: absolute;
    bottom: 0;
    right: 35%;
}

.bottom-link {
    color: rgb(220, 28, 28);
    font-size: 20px;
}

.heading {
    font-size: 25px;
    padding: 5px;
}

.details {
    font-size: 15px;
}

#r-heading {
    text-align: center;
    text-decoration: underline;
}

#myDiv {
    overflow: scroll;
}

.text {
    text-align: center;
    align-content: center;
}

.recipe-container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin:2rem;
}
.recipe-item{
    margin: 1rem 3rem;
}