.navbar-custom {
            background-color: #F98282;
        }

.text-primary{
    color: black;
}

#nav-text{
    color: black;
}

body{
    background-color: #D9D9D9;
}

#recipe-style{
    text-align: center;
}

#home-buttons{display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.yellow-bg{
    background-color: #FFEB7F;
}

.btn{
    margin: auto;
}

.padding{
    /*top, right+left, bottom*/
    padding: 150px 0px 150px;
}

.outer_padding{
    padding: 80px 20px 80px;
}