/* css just for testing, change later */
.liked{
    background-color:lightblue;
}
.unliked{
    background-color:none;
}
.like-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    height:5rem;
    transition-duration: 0.25s;
    transition-property: background-color;
    border: 0.2rem solid black;
    border-radius:40%;
    margin: 5px;
}
.like-button:hover{
    background-color:rgb(208, 229, 236);
}
.like-container{
    width: 20rem;
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
}